Binaries/
Config/
DerivedDataCache/
Intermediate/
Saved/

Content/Characters/
Content/Collections/
Content/Developers/
Content/LevelPrototyping/
Content/StarterContent/
Content/ThirdPerson/
Content/__ExternalObjects__/
Content/__ExternalActors__/
.vs/
/Inkmark.sln
/Inkmark.uproject